<section class="phx-hero">
  <h1>Management</h1>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://github.com/vvuunnqq/homework_globalreader">Source</a>
      </li>
    </ul>
  </article>
</section>
